@import '../../../styles/settings.scss';

.product_box {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
  padding: 10px;
  font-size: 18px;
  background-color: $color-white;
  span {
    padding-right: 0;
  }
}

.form {
  max-width: 60%;
  margin: 30px auto 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      border-bottom: 3px solid $color-orange;
    }
  }
  input {
    margin-bottom: 20px;
  }
}
