@import '../../../styles/settings.scss';

.products_section {
  padding: 10px;
}

.price_section {
  font-size: 18px;
  margin: 12px;
}

.heading {
  text-transform: uppercase;
  color: $color-main-navy-blue;
  position: relative;
  margin-bottom: 18px;
  margin-top: 16px;
}
