@import '../../../styles/settings.scss';

.product {
  border: solid 1px;
  border-color: $color-main-navy-blue;
  border-radius: 2%;
  text-align: center;
  width: 320px;
  position: relative;
  box-shadow: 2px 2px 3px 3px $color-second-navy-blue;

  .photo {
    width: 300px;
    height: 250px;
  }

  .title {
    font-size: 22px;
    height: 80px;
    margin: 5px 5px 5px 10px;
  }
  .price {
    background: $color-main-navy-blue;
    color: $color-white;
    font-size: 22px;
    margin-bottom: 5px;
    strike {
      font-size: 20px;
    }
  }

  .sale {
    position: absolute;
    top: 153px;
    left: 81%;
    transform: translateX(-51%);
    background-color: $color-orange;
    border-radius: 52%;
    color: $color-main-navy-blue;
    padding: 30px 15px 5px 15px;
    width: 83px;
    font-size: 20px;
    p {
      position: relative;
      top: -3px;
    }
  }
}
