@import '../../../styles/settings.scss';

.container {
  margin-top: 36px;
  .heading {
    text-transform: uppercase;
    color: $color-main-navy-blue;
    position: relative;
    margin-bottom: 24px;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      border-bottom: 4px solid $color-orange;
    }
  }
}
