@import '../../../styles/settings.scss';

.navbar {
  background-color: $color-second-navy-blue;
  font-size: 500;
  color: $color-orange;
  height: 190px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .container {
    width: 90vw;
  }

  .navbar_brand {
    color: black;
    transition: all 1s;
    font-weight: bold;
    font-size: 26px;
    img {
      padding-right: 5px;
      transition: all 1s;
      width: 90px;
      // &:hover {
      //   transform: scale(1.2);
      //   color: $color-orange;
      // }
    }
  }
  .navbar_brand:hover,
  .navbar_brand > img:hover {
    transform: scale(1.2);
    color: $color-orange;
    margin-right: 5px;
  }
  .nav {
    padding: 10px;

    justify-content: flex-end;
    margin-right: 10px;

    .link {
      color: $color-white;
      font-size: 18px;

      margin: 1px;
      &:hover {
        color: $color-orange;
      }
      &:active,
      &:focus {
        color: $color-orange;
      }
    }
  }

  .icon_div {
    margin: 0 36px 0 20px;
    align-self: center;
    text-align: end;

    .icon {
      min-width: 20px;
      min-height: 20px;
      top: 45%;
      left: 45%;
    }
    .phone_number {
      min-width: 125px;
      margin-bottom: 0;
      color: $color-white;
    }
  }
}
.navbar-light .navbar-nav .show > .nav-link {
  color: $color-white;
}

.shop_bonuses {
  justify-content: center;
  background: $color-main-navy-blue;
  border: 1px solid black;
  ul {
    list-style: none;
    font-size: 25px;
    color: $color-orange;
    text-align: left;
    li {
      span {
        font-size: 15px;
        color: white;
        font-weight: bold;
        padding-left: 10px;
      }
    }
  }
}

// .shop_bonuses ul li:nth-child(1) span{

// }

@media (max-width: 980px) {
  .nav {
    align-items: end;
  }
}
