@import '../../../styles/settings.scss';

.button {
  border-color: $color-second-navy-blue;
  border: solid 0.01px;
  border-radius: 3px;
  background-color: $color-second-navy-blue;
  padding: 5px 10px 5px 10px;
  font-size: 18;
  transition: min-width 0.5s ease-in;
  min-width: 120px;
  margin: 5px 0 10px 0;
  color: $color-white;

  &:hover {
    background-color: $color-main-navy-blue;
    color: $color-orange;
    min-width: 150px;
    border-color: $color-second-navy-blue;
  }
}
