@import '../../../styles/settings.scss';

.product_box {
  background-color: $color-white;
  .inner_product_box {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    padding: 10px;
    font-size: 18px;
  }
  input {
    border-color: $color-main-navy-blue;
    border: solid 0.01px;
    border-radius: 3px;
  }
}
