@import '../../../styles/settings.scss';

.product_box {
  background-color: $color-white;

  .inner_product_box {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    padding: 10px;
    font-size: 18px;
    align-self: center;
    justify-content: center;
  }
  input {
    border-color: $color-main-navy-blue;
    border: solid 0.01px;
    border-radius: 3px;
  }
  .info_input {
    min-width: 300px;
    min-height: 30px;
    padding: 4px;
  }
}

.table_row {
  font-size: 16px;
  border: solid 1px $color-second-navy-blue;
  height: 70px;
  width: 100%;

  img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
  }
  .table_td_bg_white {
    text-align: center;
  }
  .table_td_bg_dark {
    text-align: center;
    background-color: lightblue;
  }
}

@media (max-width: 1200px) {
  .table_row {
    font-size: 14px;
    border: solid 1px $color-second-navy-blue;
    height: 100px;

    img {
      width: 80px;
      height: 80px;
      margin-right: 2px;
    }
    .table_td_center {
      text-align: center;
    }
  }

  .info_input {
    max-width: 150px;
    min-height: 30px;
    padding: 4px;
  }
}

@media (max-width: 990px) {
  .table_row {
    img {
      visibility: hidden;
    }
  }
}

@media (max-width: 580px) {
  .product_box {
    .inner_product_box {
      font-size: 14px;
    }
  }

  .info_input {
    max-width: 100px;
    min-height: 30px;
    padding: 4px;
  }
}
