@import '../../../styles/settings.scss';

.bar {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 5px;
  font-size: 20px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid $color-orange;
  }
  .col {
    padding: 0;
  }
}

@media (max-width: 580px) {
  .bar {
    font-size: 16px;
  }
}
