@import '../../../styles/settings.scss';

.icon_column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search_button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

@media (max-width: 770px) {
  .search_button {
    justify-content: center;
  }
}
